#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.user-data-div{
  margin-top: 50px;
  min-width: 500px;
  height: 300px;
  border: #888 2px solid;
}

.user-info-list{
  text-align: center;
  
  display: flex;
  flex-direction: column;
}

dd{
  margin: 0;
  font-size: 30px;
  color: blue;
}