#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  width: 800px;
}

.main{
  display: flex;
  padding-top: 50px;
  justify-content:flex-start;
  height: 500px;
}

.search-div{
  margin: 0 2px;
  width: 30%;
  background-color: gainsboro;
  border-radius: 20px 0 0 20px;
  padding: 30px;
}
input, .results-div{
  
}

.side-div{
  display: flex;
  justify-content: start;
  width: 60%;
  background-color: lightgrey;
  border-radius: 0 20px 20px 0;
  padding: 30px;
}

.artist-list-div{
  color: blue;
  background-color: darkgray;
  width: 40%;
  border-radius: 20px 0 0 20px;
}

.top-songs-div{
  margin-left: 60px;
  background-color: gray;
  width: 59%;
  margin: 0 auto;
  overflow: scroll;
  border-radius: 0 20px 20px 0;
  font-weight: 600;
}


.user-data-div{
  min-width: 300px;
  height: 300px;
  border: #888 2px solid;
}

.user-info-list{
  text-align: center;
  display: flex;
  flex-direction: column;
}

dd{
  margin: 0;
  font-size: 30px;
  color: blue;
}

